
nav{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
   align-items: center;
 padding-right: 30px;

  
}

a{
    margin: 10px;
    font-size: 25px;
}
img{
    height: 180px;
    width: 180px;
}
div{
    text-align: center;
}

button{
    margin: 10px ;
}

#comprar{
    width: 200px;
}